{% extends "snag_base.html" %}

{% block title %}:: SNAG ::{% endblock %}

{% block content %}
<div id="features_bar">
<p><a href="http://127.0.0.1:8000/accounts/register/">register here</a></a> - <a href="http://127.0.0.1:8000/accounts/logout/">logout</a> - <a href="http://127.0.0.1:8000/accounts/login/">login</a></p>
<hr />
</div>

    <div id="mydiv">
        <div id="auth">
            <p>Login? {{ auth }}</p>
        </div>
        {% for i in about %}
        <h1>{{ i }}</h1>
        {% endfor %}
        <h1>
        {% for i in gen %}
             {{ i }},
        {% endfor %}
        </h1>
    </div>

{% endblock %}