<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" type="text/css" href="http://media.nairobi-conversations.org/css/nc.css" />-->
    <!--<link rel="alternate" type="application/rss+xml"  href="http://media.nairobi-conversations.org/php/rss.php" title="Your title">-->
    <script src="http://v.subvideo.tv/snag-media/js/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){ $("div.roundbox") .wrap('<div class="dialog">'+'<div class="bd">'+'<div class="c">'+'<div class="s">'+'</div>'+'</div>'+'</div>'+'</div>');
            $('div.dialog').prepend('<div class="hd">'+'<div class="c"></div>'+'</div>').append('<div class="ft">'+'<div class="c"></div>'+'</div>');
        });
    </script>
</head>

<body>
<div id="container">
    <h1>Welcome to snag</h1>
    <!--    <div class="roundbox">-->
    <div id="features_bar">
        <p><a href="/">home</a> - <a href="/accounts/register/">register here</a></a> - <a href="/accounts/logout/">logout</a> - <a href="/accounts/login/">login</a> - <a href="/snagadmin/user">user page</a> - <a href="/snagadmin/main">admin</a></p>
        <hr />
    </div>

    {% block content %}{% endblock %}
    <!--    </div>-->
</div>
</body>
</html>
