{% extends "starttest_base.html" %}

{% block title %}:: SNAG ::{% endblock %}

{% block content %}
<h1>Hello, {{username}}</h1>
        <p>{{data1|safe}}</p>
<p>{{questionTest}}</p>
<span id="userid" style="display:none;">{{userid}}</span>
<span id="idQuestion" style="display:none;">{{idQuestion}}</span>
<span id="genId" style="display:none;">{{genId}}</span>
<span id="questionTest" style="display:none;">{{questionTest}}</span>
<span id="answersTest" style="display:none;">{{questionTest}}</span>
{{ output|safe }}

{% endblock %}