<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <style>
        td {border:0px solid red;padding:5px;background-color:grey;}
    </style>
</head>
<body>
<h1>SNAG Admin interface</h1>
{{ auth|safe }}
<h2>Admin actions:</h2>
<ul>
    <li>Create a creature: 1 creature in generation 0 with 50 chromosomes: <a href="/snagadmin/createcreature">CREATE</a></li>
    <p>{{new_creature}}</p>
</ul>
<hr />
<h2>Creatures with less than 20 generations (in process):</h2>
<table>
    <tr><td>Creature id</td><td>Creation date</td><td>Current generation</td></tr>
    {% for cre in creatureListInProcess %}
    <tr>
        {% for c in cre %}
        <td>{{c|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<hr />
<h2>Creatures with 20 generations (finished):</h2>
<table>
    <tr><td>Creature id</td><td>Creation date</td><td>Current generation</td></tr>
    {% for cre in creatureListFinished %}
    <tr>
        {% for c in cre %}
        <td>{{c|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<hr />
<h2>List of Chromosomes:</h2>
<table>
    <tr><td>Chromosome id</td><td>Creature id</td><td>Generation</td></tr>
    {% for chr in chromosomesList %}
    <tr>
        {% for c in chr %}
        <td>{{c|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<hr />
<h2>List of users:</h2>
<table>
    {% for user in userList %}
    <tr><td>
        {{user|safe}}
    </td></tr>
    {% endfor %}
</table>
<hr />
<h2>List of Tasks:</h2>
<table>
{% for task in tasksList %}
    <tr>
    {% for t in task %}
    <td>{{t}}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
<hr />
</body>
</html>