<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <script type="text/javascript" src="http://v.subvideo.tv/snag-media/js/jquery.js"></script>
    <script type="text/javascript">
        $("#form").submit(function(e) {
            e.preventDefault();
            serializedData = $("#form").serialize();


            $.ajax({

                url: "/donate/",
                type: "post",
                data: serializeData,
                cache: 'false',
                dataType: "json",
                async: 'true',

                success: function(data) {
                    alert(data)
                },
                error:function(data) {
                    alert("error in getting from server")
                },
            });

        });
    </script>
    <style type="text/css">
        html {font-family: Verdana,serif;}
        html {background-color: #5454C2; ;color: #ffffff;font-weight: bold;}
        a{color:#ffffff;}
        td {border:0px solid red;padding:5px;background-color:grey;}
        #form_response {padding: 20px;background-color: #dcdcdc;border: 1px solid green;width:50%; }
    </style>
</head>
<body>
<h1>Welcome to snag</h1>
<!--    <div class="roundbox">-->
<div id="features_bar">
    <p><a href="/">home</a> - <a href="/accounts/register/">register here</a></a> - <a href="/accounts/logout/">logout</a> - <a href="/accounts/login/">login</a> - <a href="/snagadmin/user">user page</a> - <a href="/snagadmin/main">admin</a></p>
    <hr />
</div>
<h1>SNAG Admin interface</h1>
{{ auth|safe }}
<h2>Admin actions:</h2>
<ul>
    <li>Create a creature: 1 creature in generation 0 with 50 chromosomes: <a href="/snagadmin/createcreature">CREATE</a></li>
</ul>

<hr />
{{ form_response|safe }}
<hr />

<h2>List of generations waiting for assignement to a users:</h2>
<table>
    <tr><td>Creature id</td><td>Generation</td><td>User id</td></tr>
    {% for chr in creatureListInProcess %}
    <tr>
        {% for c in chr %}
        <td>{{c|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<hr />

<h2>List of Chromosomes to users:</h2>
<table>
    <tr><td>Chromosome id</td><td>Creature id</td><td>Generation</td><td>User name</td></tr>
    {% for chr in chromosomesList %}
    <tr>
        {% for c in chr %}
        <td>{{c|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<hr />

<h2>Creatures with 20 generations (finished):</h2>
<table>
    <tr><td>Creature id</td><td>Date of test</td><td>Current generation</td></tr>
    {% for cre in creatureListFinished %}
    <tr>
        {% for c in cre %}
        <td>{{c|safe}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<hr />

<h2>List of users:</h2>
<table>
    {% for user in userList %}
    <tr><td>
        {{user|safe}}
    </td></tr>
    {% endfor %}
</table>

<hr />

<h2>List of Tasks:</h2>
<table>
    <tr><td>User id</td><td>Chromosome id</td><td>Test date</td><td>Test time</td><td>Test ok? (0/1)</td></tr>
{% for task in tasksList %}
    <tr>
    {% for t in task %}
    <td>{{t}}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

<hr />

</body>
</html>