<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<div id="container">
    <h1>Welcome to snag</h1>
    <!--    <div class="roundbox">-->
    <div id="features_bar">
        <p><a href="/">home</a> - <a href="/accounts/register/">register here</a></a> - <a href="/accounts/logout/">logout</a> - <a href="/accounts/login/">login</a> - <a href="/snagadmin/main">admin</a></p>
        <hr />
    </div>
<h1>You have no access to this page</h1>
<p><a href="javascript:history.go(-1)" onMouseOver="self.status=document.referrer;return true">Go Back</a> </p>
</body>
</html>