<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>SNAG :: user page</title>
    <style>
        td {border:0px solid red;padding:5px;background-color:grey;}
    </style>
</head>
<body>
<div id="container">
    <h1>Welcome to snag</h1>
    <!--    <div class="roundbox">-->
    <div id="features_bar">
        <p><a href="/">home</a> - <a href="/accounts/register/">register here</a></a> - <a href="/accounts/logout/">logout</a> - <a href="/accounts/login/">login</a> - <a href="/snagadmin/user">user page</a> - <a href="/snagadmin/main">admin</a></p>
        <hr />
    </div>
    <h1>Welcome, <b>{{username|safe}}</b> this is your User page</h1>

    <h2>Creatures assigned to you and unfinished:</h2>
    <p><span style="color:white;background-color: red;">[FIX THIS]</span> - NOTE: remmember, each creature has 50 chromosomes (that's navegation trees) and the life of a creature is 10 generations. That means a total of 50 x 10 = 500 tests per creature</p>
    <table>
        <tr><td>Creature id</td><td>Generation</td></tr>
        {% for chr in chromosomeListInProcess %}
        <tr>
            {% for c in chr %}
            <td>{{c|safe}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <hr />

    <h2>Creatures that reached last generation, so done: you did by, chromosome:</h2>
    <table>
        <tr><td>Creature id</td><td>Generation</td>
        {% for cre in chromosomeListFinished %}
        <tr>
            {% for c in cre %}
            <td>{{c|safe}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <hr />

    <h2>Pending tasks assigned to you:</h2>
    <table>
        <tr><td>Chromosome id</td><td>Test date</td><td>Total test time</td><td>Test ok? (0/1)</td></tr>
        {% for cre in tasksPending %}
        <tr>
            {% for c in cre %}
            <td>{{c|safe}}</td>
            {% endfor %}
            <td><a href="/starttest/?cid={{cre.0|safe}}">Do it now</a></td>
        </tr>
        {% endfor %}q
    </table>

    <h2>Tests you did, by Task</h2>
    <table>
        <tr><td>Chromosome id</td><td>Test date</td><td>Total test time</td><td>Test ok? (0/1)</td></tr>
        {% for cre in tasksDone %}
        <tr>
            {% for c in cre %}
            <td>{{c|safe}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>